i{
margin: 1rem;
}
img{
    margin-left:1rem ;
}
.card-footer{
    background-color: black;
    margin-top: 0px;
}
.kajal{
    margin-top: 20px;
}
#image{
    margin-top: 0px;
    margin-left: 500px;
    margin-right: -30px;
    
}