<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body >
  <div class="grid-container" >
    <div class="col-lg-4 col-md-6 col-sm-12">   
<div class="row" >
  <form class="form-inline"  style="margin:50px;margin-top: 50px; ">
    <div class="col-md-4 offset-md-4">
      <p style="margin-left:119px; margin-top: -13px; position: absolute; text-decoration: solid;font-size: larger;">
        <b>Category Name</b>
      </p>
      <input class="form-control " type="search" aria-label="Search">
    </div>

  </form>
</div>
</div>



    <div class="row" style="margin-top: 103px; ">
    
      <div class="col-md-3">
        
        <div class="card" style="width:250px;height: 570px; margin-left: 150px;">
              <p style="text-align: center;margin-top: 30px;font-size:x-large;font-weight: 600;">Categories</p>
            
              <div style="margin-left: 26px;">
                <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
                  <div class="col">Lorem</div>
                  <div class="col">4</div>
                  <div class="col"><input type="checkbox"></div>
                </div>
                <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
                  <div class="col">Lorem</div>
                  <div class="col">4</div>
                  <div class="col"><input type="checkbox"></div>
                </div>
                <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
                  <div class="col">Lorem</div>
                  <div class="col">4</div>
                  <div class="col"><input type="checkbox"></div>
                </div>
                <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
                  <div class="col">Lorem</div>
                  <div class="col">4</div>
                  <div class="col"><input type="checkbox"></div>
                </div>
                <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
                  <div class="col">Lorem</div>
                  <div class="col">4</div>
                  <div class="col"><input type="checkbox"></div>
                </div>
                <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
                  <div class="col">Lorem</div>
                  <div class="col">4</div>
                  <div class="col"><input type="checkbox"></div>
                </div>
                <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
                  <div class="col">Lorem</div>
                  <div class="col">4</div>
                  <div class="col"><input type="checkbox"></div>
                </div>
                <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
                  <div class="col">Lorem</div>
                  <div class="col">4</div>
                  <div class="col"><input type="checkbox"></div>
                </div>
              </div>

        </div>




        


      </div>
    
      <div class="col-md-9">
        
        
        <div class="row">
          <div style="margin-left: 105px;"><p style="position: absolute;"> <b>Showing all 9 results</b></p>
            <div class="col-md-2 offset-md-8">
              <form>
                
                <select name="SortBy" id="" class="form-control" label="Sort By" style="background-color: black;color: #F1F1F1;"> 
                  
                  

                  <option selected disabled hidden>Sort By</option>
                  <option value="" class="form-control">Relevance</option>
                  <option value="" class="form-control">Price High-Low</option>
                  <option value="" class="form-control">Price Low-High</option>
                  <option value="" class="form-control">Highest Discount </option>
               
                </select>

              </form>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="col-md-3" style="margin-top: -20px;">
            
            
            <div class="card" style="width: 15rem;margin: 30px;margin-left: 105px">

              <img src="../../assets/responsive/all.png" class="card-img-top" alt="..." ><i class="fa-solid fa-circle-heart"></i>
              <div class="card-body" style="background-color: #F1F1F1;">
                
                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
              </div>
            </div>

          </div>
          <div class="col-md-3" style="margin-top: -20px;">

            <div class="card" style="width: 15rem; margin: 30px;margin-left: 105px">
              <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
              <div class="card-body" style="background-color: #F1F1F1;">
                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
              </div>
            </div>

          </div>
          <div class="col-md-3" style="margin-top: -20px;">


            <div class="card" style="width: 15rem;margin: 30px;margin-left: 105px;">
              <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
              <div class="card-body" style="background-color: #F1F1F1;">
                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-3">

            <div class="card" style="width: 15rem; margin: 30px;margin-left: 105px">
              <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
              <div class="card-body" style="background-color: #F1F1F1;">
                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
              </div>
            </div>

          </div>
          <div class="col-md-3">

            <div class="card" style="width: 15rem; margin: 30px;margin-left: 105px">
              <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
              <div class="card-body" style="background-color: #F1F1F1;">
                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
              </div>
            </div>

          </div>
          <div class="col-md-3">


            <div class="card" style="width: 15rem; margin: 30px;margin-left: 105px">
              <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
              <div class="card-body" style="background-color: #F1F1F1;">

                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>

              </div>
            </div>

          </div>
        </div>

        
      </div>
    </div>
  
  </div>


<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="grid-container" >
    
    <div class="row" style="margin-top: 0px;">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">

            <div class="card" style="width: 15rem;margin: 30px;margin-left: 105px;">
              <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
              <div class="card-body" style="background-color: #F1F1F1;">
                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
              </div>
            </div>

          </div>
          <div class="col-md-3">

            <div class="card" style="width: 15rem; margin: 30px;margin-left: 105px">
              <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
              <div class="card-body" style="background-color: #F1F1F1;">
                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
              </div>
            </div>

          </div>
          <div class="col-md-3">


            <div class="card" style="width: 15rem;margin: 30px;margin-left: 105px;">
              <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
              <div class="card-body" style="background-color: #F1F1F1;">
                <div>Matt Kitchen</div>
                <div>$650-$900</div>
                <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
              </div>
            </div>

          </div>
        </div>
       

        
      </div>
    </div>
  </div>
</div>
</body>

</html>