<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(../../assets/responsive/imageback.png); height: 900px;">
    <div class="container">

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-block m-auto">
                <form class="form-inline" style="margin:50px;margin-top: 50px; ">
                    <div class="col-md-4 offset-md-4">
                        <p
                            style="margin-left:40px; margin-top: -13px; position: absolute; text-decoration: solid;font-size: larger;">
                            <b>Category Name</b>
                        </p>
                        <input class="form-control " type="search" aria-label="Search">
                    </div>
                </form>
            </div>
            </div>
    </div>

<div class="container">
<div class="row">


    <div class="col-lg-4 col-md-4 col-sm-12 col-12 d-block m-auto">
       
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="width:100px ;">
          Filter
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#"><p style="text-align: center;margin-top: 30px;font-size:x-large;font-weight: 600;">Categories</p>
          </a>
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="col">Lorem</div>
            <div class="col">4</div>
            <div class="col"><input type="checkbox"></div>
          </div></a>
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="col">Lorem</div>
            <div class="col">4</div>
            <div class="col"><input type="checkbox"></div>
          </div></a>
  
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="col">Lorem</div>
            <div class="col">4</div>
            <div class="col"><input type="checkbox"></div>
          </div></a>
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="col">Lorem</div>
            <div class="col">4</div>
            <div class="col"><input type="checkbox"></div>
          </div></a>
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="col">Lorem</div>
            <div class="col">4</div>
            <div class="col"><input type="checkbox"></div>
          </div></a>
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="col">Lorem</div>
            <div class="col">4</div>
            <div class="col"><input type="checkbox"></div>
          </div></a>
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="col">Lorem</div>
            <div class="col">4</div>
            <div class="col"><input type="checkbox"></div>
          </div></a>
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="col">Lorem</div>
            <div class="col">4</div>
            <div class="col"><input type="checkbox"></div>
          </div></a>
  
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="price">
              <p>Price Range</p>
          </div>
          </div></a>
  
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div data-role="rangeslider" id="range">  
              <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
            </div>
          </div></a>
  
          
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div  class="price">Range : 0$  - 240$</div>
          </div></a>
       
          
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div class="price">
              <p>Discount</p>
          </div>
          </div></a>
  
          <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
            <div data-role="rangeslider" id="range">
              <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
               </div>
          </div></a>
  
   <a class="dropdown-item" href="#"> <div class="row" style="margin-top: 15px;font-size:large;font-weight: 500">
    <div class="price">Range : 0% to 50%</div>
          </div></a>
        </div>
      </div>
       
  
  
          
    
    </div>

    
   
    <div class="col-lg-4 col-md-4 col-sm-12 col-2 d-block m-auto">
       
        <b>Showing all 9 results</b>
          
    
    </div>
   
    <div class="col-lg-4 col-md-4 col-sm-12 col-2 d-block m-auto">
       
        <form style="width: 120px;">
                  
            <select name="SortBy" id="" class="form-control" label="Sort By" style="background-color: black;color: #F1F1F1;"> 
              
              

              <option selected disabled hidden style="width: 20px;">Sort By</option>
              <option value="" class="form-control">Relevance</option>
              <option value="" class="form-control">Price High-Low</option>
              <option value="" class="form-control">Price Low-High</option>
              <option value="" class="form-control">Highest Discount </option>
           
            </select>

          </form>
        
          
    
    </div>
    

</div>









    <div class="row">

        


<div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
    <div class="card">
        <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
        <a class="icon" href="">
          <i class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
        <div class="card-body" style="background-color: #F1F1F1;">

          <div>Matt Kitchen</div>
          <div>$650-$900</div>
          <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>

        </div>
      </div>

      

</div>


<div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
    <div class="card">
        <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
        <a class="icon" href="">
          <i class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
        <div class="card-body" style="background-color: #F1F1F1;">

          <div>Matt Kitchen</div>
          <div>$650-$900</div>
          <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>

        </div>
      </div>

      

</div>



<div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
    <div class="card">
        <img src="../../assets/responsive/all.png" class="img" alt="...">
        
        <a class="icon"  href="">
          <div class="circle"></div>
          <i  class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
        
        <div class="card-body" style="background-color: #F1F1F1;">

          <div>Matt Kitchen</div>
          <div>$650-$900</div>
          <button class="submit" id="button"><i class='fas fa-shopping-cart' style="margin-left: 20px;"></i> Add to Cart</button>

        </div>
      </div>

      

</div>



    </div>






    <div class="row" style="margin-top: 15px;">

       
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
            <div class="card">
                <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
                <a class="icon" href="">
                  <i class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
                <div class="card-body" style="background-color: #F1F1F1;">
        
                  <div>Matt Kitchen</div>
                  <div>$650-$900</div>
                  <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
        
                </div>
              </div>
        
              
        
        </div>
        
        
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
            <div class="card">
                <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
                <a class="icon" href="">
                  <i class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
                <div class="card-body" style="background-color: #F1F1F1;">
        
                  <div>Matt Kitchen</div>
                  <div>$650-$900</div>
                  <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
        
                </div>
              </div>
        
              
        
        </div>
        
        
        
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
            <div class="card">
                <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
                <a class="icon" href="">
                  <i class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
                <div class="card-body" style="background-color: #F1F1F1;">
        
                  <div>Matt Kitchen</div>
                  <div>$650-$900</div>
                  <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
        
                </div>
              </div>
        
              
        
        </div>
        
        
        
            </div>
         


            <div class="row" style="margin-top: 15px;">

       
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
                        <a class="icon" href="">
                          <i class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
                        <div class="card-body" style="background-color: #F1F1F1;">
                
                          <div>Matt Kitchen</div>
                          <div>$650-$900</div>
                          <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
                
                        </div>
                      </div>
                
                      
                
                </div>
                
                
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
                        <a class="icon" href="">
                          <i class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
                        <div class="card-body" style="background-color: #F1F1F1;">
                
                          <div>Matt Kitchen</div>
                          <div>$650-$900</div>
                          <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
                
                        </div>
                      </div>
                
                      
                
                </div>
                
                
                
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <img src="../../assets/responsive/all.png" class="card-img-top" alt="...">
                        <a class="icon" href="">
                          <i class='fas fa-heart' (click)="submit()"  [ngClass]="{'white' : toggle, 'red': !toggle}"></i></a>
                        <div class="card-body" style="background-color: #F1F1F1;">
                
                          <div>Matt Kitchen</div>
                          <div>$650-$900</div>
                          <button class="submit" id="button"><i class='fas fa-shopping-cart'></i> Add to Cart</button>
                
                        </div>
                      </div>
                
                      
                
                </div>
                
                
                
                    </div>
                 


        </div>  
     
</body>
</html>